* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.alk-sanet {
  font-family: "ALK Sanet", sans-serif;
}

.bpg-arial-caps {
  font-family: "BPG Arial Caps", sans-serif;
}

.bpg-algeti {
  font-family: "BPG Algeti", sans-serif;
}

.header {
  position: fixed;
  z-index: 999;
  font-size: 1.1rem;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  font-family: "ALK Sanet", sans-serif;
}
.header .header_icon {
  position: fixed;
  font-size: 2.2rem;
  top: 1rem;
  right: 1rem;
  color: whitesmoke;
  cursor: pointer;
  display: none;
}
.header .resaponsiver_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #141d24;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.header .resaponsiver_menu_overlay .nav-link {
  height: 60px;
  padding: 0 1rem;
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .resaponsiver_menu_overlay .nav-link:hover {
  border-bottom: 1px solid whitesmoke;
}
.header.yellow-bg {
  background-color: #141d24;
}
.header .logo {
  cursor: pointer;
}
.header .logo img {
  height: 3rem;
}
.header .navigation {
  height: 100%;
  display: flex;
}
.header .navigation .nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(221, 221, 221);
  word-spacing: 0rem;
  padding: 0 1rem;
}
.header .navigation .nav-link:hover {
  color: #f7f7f7;
}

.footer {
  height: 10rem;
  width: 100%;
  background-color: rgb(44, 43, 43);
  color: whitesmoke;
}

.background_image_container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent, #000), url("../Assets/cover1.jpg");
  background-size: cover;
  background-position: top;
}
.background_image_container .background_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.background_image_container .background_image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 52, 66, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.background_image_container .background_image_overlay .overlay_text {
  line-height: 4rem;
  max-width: 90%;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
  color: whitesmoke;
  font-family: "ALK Sanet", sans-serif;
}
.background_image_container .background_image_overlay .description {
  color: whitesmoke;
  font-size: 1.5rem;
}
.background_image_container .background_image_overlay .btn_continer {
  display: flex;
  gap: 3rem;
}
.background_image_container .background_image_overlay .btn_continer .my_btn {
  width: 300px;
  height: 65px;
  border: 1px solid whitesmoke;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ALK Sanet", sans-serif;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
}
.background_image_container .background_image_overlay .btn_continer .my_btn:hover {
  background-color: rgba(59, 138, 212, 0.8);
  border: 0;
}

.online_chat_icons {
  position: fixed;
  bottom: 0.8rem;
  right: 1rem;
  z-index: 1000;
}
.online_chat_icons .icon_container {
  font-size: 2rem;
  color: whitesmoke;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.online_chat_icons .icon_container:hover {
  cursor: pointer;
}
.online_chat_icons .icon_container:hover .icon {
  font-size: 2.65rem;
}
.online_chat_icons .chat-box {
  position: absolute;
  right: 0.5rem;
  bottom: 0.7rem;
  width: 350px;
  height: 400px;
  background-color: whitesmoke;
  box-shadow: -10px -5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-bottom-right-radius: 0;
  padding: 0.5rem;
}
.online_chat_icons .chat-box .start_chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  gap: 0.5rem;
  font-family: Alk sanet;
}
.online_chat_icons .chat-box .start_chat .chat_input {
  width: 190px;
  height: 30px;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.online_chat_icons .chat-box .start_chat .chat_btn {
  margin-top: 1.5rem;
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(20, 29, 36, 0.9);
  color: whitesmoke;
  transition: 0.4s;
}
.online_chat_icons .chat-box .start_chat .chat_btn:hover {
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px black;
}
.online_chat_icons .chat-box .close_icon_container {
  width: 100%;
  text-align: end;
}
.online_chat_icons .chat-box .close_icon_container .close_icon {
  position: relative;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  cursor: pointer;
}
.online_chat_icons .chat-box .live_chat {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.online_chat_icons .chat-box .live_chat .content {
  width: 100%;
  flex: 1;
}
.online_chat_icons .chat-box .live_chat .type_container {
  height: 40px;
  width: 100%;
}
.online_chat_icons .chat-box .live_chat .type_container .txt {
  outline: none;
  border: 0;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
}
.online_chat_icons .responsive_live_chat {
  visibility: hidden;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.online_chat_icons .responsive_live_chat .chat_content {
  height: -moz-fit-content;
  height: fit-content;
  color: #141d24;
  font-size: 1.1rem;
  width: 100%;
  height: fit-content;
}
.online_chat_icons .responsive_live_chat .chat_typing {
  width: 100%;
  height: 50px;
  display: flex;
}
.online_chat_icons .responsive_live_chat .chat_typing input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  border: 1px solid #141d24;
  border-radius: 5px 0 0 5px;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.online_chat_icons .responsive_live_chat .chat_typing .send {
  width: 150px;
  background-color: #141d24;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.online_chat_icons .responsive_live_chat .close_chat {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.video {
  padding: 0 3rem;
  width: 100%;
  background-color: #141d24;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}
.video .video_container {
  border-radius: 3px;
  overflow: hidden;
  height: 350px;
  transition: transform 1s ease;
  cursor: pointer;
}
.video .video_container .video_description {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.6);
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
  padding: 0.7rem;
  display: flex;
  font-family: "ALK sanet";
  flex-direction: column;
  justify-content: center;
  gap: 0.9rem;
  color: #253642;
  font-size: 1.1rem;
}
.video .video_container .video_description .video_title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #253642;
}
.video .video_container:hover .video_overlay {
  background-color: rgba(20, 29, 36, 0.75);
}
.video .video_container:hover .video_overlay .overlay_content {
  opacity: 1;
}
.video .video_container:hover .video_description {
  background-color: whitesmoke;
}
.video .video_container .video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: alk sanet;
  gap: 0.5rem;
  transition: 0.3s;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.video .video_container .video_overlay .overlay_content {
  border: 3px solid rgba(245, 245, 245, 0.6);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 300px;
  height: 60px;
  margin-top: 4.5rem;
  opacity: 0;
  transition: 0.4s;
}
.video .video_container .video_overlay .overlay_content .video_icon {
  font-size: 2.3rem;
}
.video .video_container .video_overlay .overlay_content .play_video {
  color: whitesmoke;
  font-weight: bold;
}
.video .video_container .video_overlay .overlay_content:hover {
  background-color: whitesmoke;
}
.video .video_container .video_overlay .overlay_content:hover .play_video {
  color: #253642;
}
.video .video_container:nth-child(2n+1) {
  transform: translateX(-500%);
}
.video .video_container:nth-child(2n) {
  transform: translateX(500%);
}
.video .video_container.show {
  transform: translateX(0);
}
.video .video_container .each_video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video .open_video_overlday {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #141d24;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .open_video_overlday .video_cont {
  height: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.video .open_video_overlday .video_cont .videoo {
  height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 5s ease;
  opacity: 0;
}
.video .open_video_overlday .x {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: whitesmoke;
  font-size: 2.5rem;
  transition: 0.4s;
  cursor: pointer;
}

.Frequent_questions {
  background-color: #141d24;
  width: 100%;
  overflow: hidden;
  padding: 3rem 3rem 0 3rem;
  color: whitesmoke;
}
.Frequent_questions .frequent_question_title {
  font-size: 2rem;
  font-family: "alk sanet";
  width: 600px;
  text-align: center;
  margin: 5rem auto;
  padding: 1rem;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.Frequent_questions .each_question_container {
  width: 100%;
  height: 100vh;
}
.Frequent_questions .each_question_container .question {
  background-color: whitesmoke;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  margin: 0.5rem 0;
  color: #141d24;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Frequent_questions .each_question_container .question .content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.Frequent_questions .each_question_container .question .arrow {
  font-size: 1.7rem;
}
.Frequent_questions .each_question_container .answer {
  font-size: 1.2rem;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Add transition property */
}
.Frequent_questions .each_question_container .answer.show {
  max-height: 500px; /* Or any value that is greater than your content's potential height */
}

.contact {
  width: 100%;
  background-color: #141d24;
  padding: 1rem 0 3rem 0;
  color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contact .contact_title {
  font-size: 2rem;
  font-family: "alk sanet";
  width: 100%; /* Initially 100% width */
  text-align: center;
  margin: 5rem auto;
  padding: 1rem;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  transition: width 3.5s ease; /* Use width for transition */
}
.contact .contact_title.show {
  width: 70%;
}
.contact .contactus {
  width: 90%;
  display: flex;
  gap: 2rem;
}
.contact .contactus .map_container {
  width: 60%;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 2s ease;
  will-change: transform;
  transform: scale(0);
}
.contact .contactus .map_container.show {
  transform: scale(1);
}
.contact .contactus .contact_info {
  width: 40%;
  height: 300px;
  border-radius: 20px;
  box-shadow: inset 9px 9px 18px #0b1115, inset -9px -9px 18px #1d2933;
  transform: translateX(100%);
  transition: transform 2s ease, background-color 1s ease;
}
.contact .contactus .contact_info .each_info_container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 3rem;
}
.contact .contactus .contact_info .each_info_container .each_info {
  font-family: "BPG Arial Caps", sans-serif;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact .contactus .contact_info .each_info_container .each_info .icon {
  color: whitesmoke;
  font-size: 2rem;
}
.contact .contactus .contact_info .each_info_container .each_info .indo_description {
  color: whitesmoke;
  width: 200px;
  height: 50px;
}
.contact .contactus .contact_info .social_media_icons {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 2rem;
}
.contact .contactus .contact_info .social_media_icons .icon_container {
  width: 60px;
  height: 60px;
  box-shadow: inset 9px 9px 18px #0b1115, inset -9px -9px 18px #1d2933;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.contact .contactus .contact_info .social_media_icons .icon_container .icon {
  font-size: 1.6rem;
  color: whitesmoke;
}
.contact .contactus .contact_info .social_media_icons .icon_container:hover {
  transform: translateY(-10px);
}
.contact .contactus .contact_info.show {
  transform: translateX(0);
  background: #141d24;
}

.about_us {
  width: 100%;
  height: 100vh;
  background-color: #141d24;
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 0.9rem;
  }
  .background_image_container .background_image_overlay .overlay_text {
    font-size: 2rem;
  }
  .background_image_container .background_image_overlay .btn_continer .my_btn {
    width: 250px;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1600px) {
  .background_image_container {
    height: 80vh;
  }
  .background_image_container .background_image_overlay {
    height: 80vh;
  }
}
@media screen and (max-width: 900px) {
  .header .navigation {
    display: none;
  }
  .header .header_icon {
    display: bl;
  }
  .header .header_icon {
    display: block;
  }
  .chat-box {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .background_image_container .background_image_overlay {
    gap: 0;
  }
  .background_image_container .background_image_overlay .overlay_text {
    width: 100%;
    font-size: 1.4rem;
  }
  .background_image_container .background_image_overlay .btn_continer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .background_image_container .background_image_overlay .btn_continer .my_btn {
    width: 70%;
    height: 60px;
  }
  .video {
    padding: 0.5rem;
  }
  .video .video_container {
    width: 100%;
  }
  .video .video_container .video_overlay .overlay_content {
    font-size: 1.1rem;
    width: 230px;
    height: 40px;
  }
  .video .each_video {
    width: 100%;
  }
  .video .video_description {
    width: 100%;
  }
  .video {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
@media screen and (max-width: 1300px) {
  .contact .contactus {
    flex-direction: column;
  }
  .contact .contactus .map_container {
    width: 100%;
  }
  .contact .contactus .contact_info {
    width: 100%;
    display: flex;
  }
  .contact .contactus .contact_info .each_info_container {
    width: 60%;
  }
  .contact .contactus .contact_info .social_media_icons {
    padding-top: 2rem;
    margin: 0;
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .contact .contactus .contact_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact .contactus .contact_info .each_info_container {
    width: 100%;
  }
  .contact .contactus .contact_info .social_media_icons {
    padding-top: 2rem;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .contact .contactus .contact_info .each_info_container {
    width: 100%;
  }
  .contact .contactus .contact_info .social_media_icons {
    padding-top: 2rem;
    margin: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
  }
  .contact .contactus .contact_info .social_media_icons .icon_container {
    margin: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .responsive_live_chat {
    visibility: visible !important;
  }
}
@media screen and (max-width: 700px) {
  .contact .contact_title {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */